/* Theme */

:root{
	--theme-bg: #303F9F;
	--theme-foreground: #FAFAFA;
	--accent: #ffca28;
}

main {
	background: var(--theme-bg);
	color: var(--theme-foreground);
}

.icons-social a {
	color: var(--theme-foreground);
}

.icons-social a:hover,
.icons-social a:focus{
	color: var(--accent);
}

.icons-social a svg path{
	fill: var(--theme-foreground);
}